addict
aiohttp
deepdiff
einops
facexlib
fairscale
ftfy
insightface
kornia>=0.7.1
numpy
onnxruntime-gpu
piexif
pilgram
Pillow>=9.5.0
psutil
py-cpuinfo
pynvml
pyyaml
safetensors>=0.3.0
scipy
setuptools
timm
torch
torchsde
torchvision
tqdm
transformers>=4.25.1
yapf
